.container-center{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient( #49568f, #10121e);
    padding:0 12px;
}

.login{
    background-color: #eaeaec;
    width: 600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    

    box-shadow: 3px 3px 6px rgba(0,0,0, 0.5);
}

.login-area{
    background-color: #181c2e;    
    width: 100%;
    display: flex;
    justify-content: center;
    color:#ddd;
    align-items: center;
}

.login-area img{
    width: 130px;
    height: 130px;
    padding: 20px;
}

.login input{
    margin-bottom: 1rem;
    height: 35px;
    border-radius: 4px;
    border: 0;
    padding: 10px;
    font-size: 15px;
    background-color: #fff;
}

.login a{
    margin: 1.5rem 0;
    color: #000;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    margin-top: 1.5rem;
    width: 90%;
    display: flex;
    flex-direction: column;    
}

form h1{
    text-align: center;
    margin-bottom: 1rem;
    color:#181c2e;
}

form button{
    color:#fff;
    font-size: 1.3rem;
    height: 35px;
    border:0;
    border-radius: 4px;
    background-color: #181c2e;
}

